/* Barra lateral */
.sidebar {
  width: 20%;
  background-color: rgb(86, 108, 126);
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

/* Botón de login */
.login-button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  transition: background-color 0.3s;
  margin-top: 1rem;
  margin-bottom: 5rem; /* Añade espacio extra debajo del botón de login */
}

.login-button:hover {
  background-color: #051a96;
}

/* Botones de sucursales */
.nav-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px; /* Espacio entre los botones de sucursales */
}

.cine-button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  width: 100%; /* Asegura que los botones ocupen todo el ancho del contenedor */
  transition: background-color 0.3s;
}

.cine-button:hover {
  background-color: #031370;
}

.cine-button.selected {
  background-color: #d3391d; /* Color distintivo para la sucursal seleccionada */
}

/* Contenedor de la cartelera (Billboard) */
.billboard-background {
  padding-top: 2rem; /* Espacio superior */
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido hacia la izquierda */
  gap: 1.5rem;
}

/* Contenedor de las películas en Billboard */
.movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start; /* Alinea las películas hacia la izquierda */
  width: 100%;
  margin-top: 1rem;
}


