/* Home.css */

/* Contenedor Principal */
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative; /* Asegura que el contenedor principal esté en el flujo normal */
}

/* Menú Lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(86, 108, 126);
  color: white;
  padding: 1rem;
  width: 20vw;
  box-sizing: border-box;
  z-index: 1001;
}

/* Contenedor para el botón de login o usuario */
.user-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative; /* Permite que el botón de login tenga un z-index mayor */
  z-index: 1002; /* Asegura que esté sobre otros elementos */
}

/* Botón de login o usuario */
.nav-toggle,
.user-button {
  width: 90%;
  padding: 0.5rem 1rem;
  background-color: #09085e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
  z-index: 1003; /* Asegura que el botón esté en la parte superior */
}

.nav-toggle:hover,
.user-button:hover {
  background-color: #b0b0b0;
  color: black; /* Cambia el color de fondo al hacer hover */
}

/* Ajuste específico para que el menú desplegable esté en la parte superior */
.user-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  min-width: 150px;
  z-index: 1002;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  color: #333;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto; 
  max-height: 100vh; 
  padding: 3rem 2rem;
}