/* Home.css */

/* Contenedor principal */
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

/* Menú lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(86, 108, 126);
  color: white;
  padding: 2rem;
  width: 20%; /* Fixed width for the sidebar */
  box-sizing: border-box;
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 5rem;
}

.sidebar-button {
  margin-bottom: 2rem;
  display: block;
  text-align: center;
  color: #1a1a1a;
}

/* Lista de navegación */
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.nav-list li {
  width: 100%;
  text-align: center;
  margin: 1rem;
}

.nav-list a {
  display: contents;
  padding: 0.5rem 0;
  color: inherit;
  text-decoration: none;
}

.nav-list a:hover {
  text-decoration: underline;
  color: #afaeae;
}

/* Contenido principal */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20%; /* Matches sidebar width */
  box-sizing: border-box;
  overflow-y: auto;
}

/* Encabezado (Header) */
.header {
  background-color: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  padding: 1.2rem; /* Controlado para una altura moderada */
  width: calc(100% - 20%);
  position: fixed;
  top: 0;
  left: 20%;
  z-index: 1000;
  box-sizing: border-box;
  max-height: 80px; /* Limita la altura máxima */
}

.header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 2.5rem;
  flex-grow: 1;
}

/* Contenido (Main Content Area) */
.content {
  padding: 3.5rem 2rem 2rem; /* Ajuste para evitar superposición con el encabezado */
  flex-grow: 1;
}

/* Extra-large Section subtitles */
.section-subtitle {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Section descriptive texts */
.section-text {
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 1rem;
}

/* Featured movies */
.movie-thumbnails {
  display: flex;
  gap: 1.5rem;
}

.movie-thumbnail {
  text-align: center;
  max-width: 150px;
}

.movie-thumbnail img {
  width: 100%;
  border-radius: 8px;
}

.promotion-card {
  background-color: #333;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/* Branch highlights */
.branch-highlights ul {
  list-style-type: none;
  padding: 0;
}

.branch-highlights ul li {
  margin-bottom: 0.5rem;
}

.content h3:first-of-type {
  margin-top: 4rem; /* Ajusta el valor según el espacio que desees */
}