/* Contenedor principal de la página de detalles de la película */
.movie-details-page {
  display: flex;
  padding: 2rem;
  align-items: flex-start;
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Menú lateral */
.sidebar {
  width: 20%;
  background-color: rgb(86, 108, 126);
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Selector de Día */
.schedule-dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.schedule-dropdown label {
  font-size: 1.1rem;
  font-weight: bold;
  color: #e0e0e0;
}

.schedule-dropdown select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #2c3e50;
  color: white;
}

/* Información de la película */
.movie-info-container {
  margin-top: 160px; /* Aumenta el margen superior para que el contenido esté más abajo */
  padding-left: 0rem;
  padding-right: 2rem;
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  gap: 2rem;
}

/* Imagen de la película */
.movie-poster {
  position: relative;
  width: 480px;
  flex-shrink: 0;
}

.movie-poster img {
  width: 100%;
  border-radius: 8px;
}

/* Botón de reproducción */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  color: #4a47ff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.3s;
}

.play-button:hover {
  background: rgba(255, 99, 71, 0.7);
}

/* Información detallada de la película */
.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  margin-top: 60px;
}

.movie-info h1 {
  font-size: 3rem;
  margin: 0;
}

.movie-meta {
  display: flex;
  gap: 15px;
  font-size: 1.4rem;
  color: #b0b0b0;
  margin: 10px 0;
}

.movie-description {
  line-height: 1.5;
  color: #ccc;
  font-size: 1.75rem;
}


.day-select {
  padding: 8px;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  color: #333;
  border-radius: 4px;
  outline: none;
}

.day-select:focus {
  outline: 2px solid #4a47ff;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cine-button {
  padding: 10px;
  background-color: #4a47ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.cine-button:hover {
  background-color: #3a37cc;
}
