/* Contenedor principal de la página de detalles de la película */
.movie-details-page {
  display: flex;
  padding: 2rem;
  align-items: flex-start;
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
  height: 100vh;
}

/* Información de la película */
.movie-info-container {
  margin-top: 8%;
  padding-left: 20%;
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  gap: 2rem;
}

/* Imagen de la película */
.movie-poster {
  position: relative;
  width: 26%;
  flex-shrink: 0;
  padding: 2%;
}

.movie-poster img {
  width: 100%;
  border-radius: 8px;
}

/* Botón de reproducción */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  color: #4a47ff;
  background: rgba(0, 0, 0, 0);
  padding: 20px 40px;
  border-radius: 50%;
  text-decoration: none;
}

.play-button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  margin-top: 60px;
}

.movie-info h1 {
  font-size: 2.5rem;
  margin-top: -6%;
}

.movie-meta {
  display: flex;
  gap: 15px;
  font-size: 1.4rem;
  color: #b0b0b0;
}

.movie-description {
  line-height: 1.5;
  color: #ccc;
  font-size: 1.7rem;
}

/* Menú lateral */
.sidebar {
  width: 20%;
  background-color: rgb(86, 108, 126);
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Contenedor de selección de día */
.day-select-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; /* Espaciado adicional */
}

/* Estilo para el desplegable de día */
.day-dropdown {
  appearance: none; /* Oculta el estilo por defecto */
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #1e293b; /* Mismo fondo que los botones */
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
  padding-right: 30px; /* Espacio para la flecha */
}

/* Flecha en el desplegable */
.day-dropdown::after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: white;
  background-color: #1e293b;
  pointer-events: none;
}

.day-dropdown:hover {
  background-color: #1e293b; /* Color de fondo al pasar el cursor */
}

/* Contenedor de selección de función */
.function-select-container {
  margin-top: 0rem;
}

/* Texto de selección de función */
.select-cine-text {
  font-size: 1.3rem;
  color: #e0e0e0;
  margin-bottom: 0;
  text-align: center;
}

/* Mensaje sin funciones */
.no-functions-message {
  font-size: 1.3rem;
  color: #e0e0e0;
  margin-bottom: 0;
  text-align: center;
}

/* Botones de funciones */
.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: -13rem;
}

.cine-button {
  padding: 10px;
  background-color: #4a47ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: left; /* Alineación para acomodar información adicional */
}

.cine-button:hover {
  background-color: #09085e;
  color: white;
}

/* Estilos del modal */
.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px; /* Ajusta el ancho del fondo al deseado */
  height: 800px; /* Ajusta la altura del fondo al deseado */
  background: rgba(0, 0, 0, 0); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%); /* Centra el fondo en la pantalla */
  z-index: 1000;
}

.modal-content {
  background: rgba(
    255,
    255,
    255,
    0.341
  ); /* Fondo opaco para el contenido del modal */
  padding: 1rem;
  border-radius: 8px;
  width: 700px; /* Ajusta el ancho del contenido */
  height: auto;
  max-height: 90%;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #333; /* Color oscuro para visibilidad */
  cursor: pointer;
}
