/* Component.css */

.container {
  width: 500px;
  height: 1300px;
  background-color: rgb(86, 108, 126);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.content {
  padding: 0.5rem; /* Mantén un padding mínimo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.3rem;
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(10, min-content); /* Ajuste para las columnas */
  gap: 0.3rem; /* Incrementa el espacio entre asientos */
  justify-content: center;
  margin-bottom: 0.3rem;
  max-width: 85%; /* Limita el ancho máximo */
  padding: 0.1rem;
  overflow: hidden;
}

.seat {
  width: 1.5rem; /* Aumenta ligeramente el tamaño de los asientos */
  height: 1.5rem;
  border-radius: 3px;
  font-size: 0.7rem; /* Ajusta el tamaño del texto */
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.available {
  background-color: white;
  border: 1px solid #d1d5db;
  color: #4b5563;
}

.selected {
  background-color: #32b221;
  color: white;
}

.occupied {
  background-color: #cd523a;
  color: #ffffff;
  cursor: not-allowed;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 0.3rem;
  font-size: 0.75rem;
  max-width: 85%; 
}
.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 2px;
  margin-right: 0.2rem;
}
